@import "variables";
.about__intro{
  @media only screen and (min-width: 600px){
		padding-top: 8.5rem !important; // hacky, try to fix properly
	}
  background-color: $off-white;
  padding-top:9rem;
  padding-bottom:3rem;
}

.about__profile-img{
  @media only screen and (min-width: 600px){
    margin-bottom: 6rem;
    margin-top: 6rem;
    max-width: 16.25rem;
	}
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top:6rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  max-width: 12.5rem;
  height: auto;
}

.about__profile-img::after{
  display: block;
  content: '';
}

.about__title{
  @media only screen and (min-width: 600px){
    line-height: 1.4;
    font-size: 3rem;;
    margin-top: 10rem;
    margin-bottom: 10rem;
	}
  line-height: 1.3;
  font-size: 2rem;
  font-weight: 700;
}

.about__landing{
  @media only screen and (min-width: 600px){
    padding-top: 14rem;
    padding-bottom: 8rem;
	}
  padding-top: 10rem;
  padding-bottom: 3.5rem;
  width: 40rem;
}

.about__info{
  @media only screen and (min-width: 600px){
    margin-right: 0;
    margin-left: 0;
  }
 margin-bottom: 1.5rem;
 margin-left: 1rem;
 margin-right: 1rem;
}

.about__current{
  @media only screen and (min-width: 600px){
    line-height: 1.4;
    font-size: 3rem;
    margin-top:10rem;
    margin-bottom: 10rem;
	}
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
}
.about__info ul>li {
	list-style: none;
	font-size: 1.5rem;
	font-weight: bold;
}
