@import "variables";
.about__intro{
  background-color: $off-white;
  padding-top:9rem;
  padding-bottom:3rem;
}

.about__profile-img{
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top:6rem;
  margin-bottom: 4rem;
  border-radius: 50%;
  max-width: 12.5rem;
  height: auto;
}

.about__profile-img::after{
  display: block;
  content: '';
}

.about__title{
  line-height: 1.3;
  font-size: 2rem;
  font-weight: 700;
}

.about__info{
 margin-bottom: 1.5rem; 
}

.about__current{
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 700;
}
.about__info ul>li {
	list-style: none;
	font-size: 1.5rem;
	font-weight: bold;
}

.btn{
  display: inline-block;
  position: relative;
  transition: background-color .4s, color .4s;
  border: 0;
  border-radius: 100vw;
  background-color: $primary-color;
  color: $off-white;
  cursor: pointer;
  padding: 1rem 1.5rem;
  text-align: center;
  text-decoration: none;
  line-height: 1;
  font-family: "Montserrat",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 600;
  -webkit-appearance: none;
}

.btn:hover{
  background-color: $secondary-color;
  color: $primary-color;
}
