// Depreciated

@import "variables";
@media only screen and (min-width: 600px){
  .about__intro{
    padding-top:8.5rem !important; // this is very hacky
  }
  .about__profile-img{
    margin-bottom: 6rem;
    margin-top:6rem;
    max-width: 16.25rem;
  }
  .about__title{
    line-height: 1.4;
    font-size: 3rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .about__current{
    line-height: 1.4;
    font-size: 3rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
  }
  .btn{
    padding:1.125rem 2rem;
    font-size: 1.125rem;
  }
}
