// how do make non JS on load transitions
// https://stackoverflow.com/questions/6805482/css3-transition-animation-on-load
@import "variables";
/* page fade in */
@keyframes fullPageFadeIn {
    0% {
        opacity: 0;
				transform: translateY(-10px);
    }
    100% {
        opacity: 1;
				transform: translateY(0px);
    }
}

@keyframes fullPageFadeOut {
    0% {
        opacity: 1;
				transform: translateY(0px);
    }
    100% {
        opacity: 0;
				transform: translateY(-10px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes expandingBoxTransition {
    0% {
				z-index: 3;
				transform: scale(1);
    }
		20% {
				transform: scale(0.5)
		}
    100% {
				z-index: 10;
				transform: scale(10);
    }
}

@keyframes fadeOut {
    0% {
				opacity: 1;
    }
    100% {
				opacity: 0;
    }
}
@keyframes coverLift {
    0% {
				opacity: 1;
				z-index: 10;
				height:100vh;
				width:100vw;
    }
		// this is so the overlay doesn't sit ontop, and without deleting the element in js
		98%{
				height:100vh;
		}
		99%{
				height:0vh;
		}
    100% {
				height:0vh;
				opacity: 0;
				z-index: 0;
    }
}

@keyframes coverDrop {
    0% {
				opacity: 0;
				z-index: 10;
				height:0vh;
				width:0vw;
    }
		// this is so the overlay doesn't sit ontop, and without deleting the element in js
		1%{
				height:100vh;
				width:100vw;
		}
    100% {
				height:100vh;
				opacity: 1;
				z-index: 10;
    }
}
@keyframes wipe{
	to {width: 0}
}

.fade-in {
	animation: 0.5s ease-out 0s 1 forwards fadeIn;
}

.fullpage-fade-in{
	animation: 0.5s ease-out 0s 1 fullPageFadeIn;
}

.fade-out {
	animation: 0.2s ease-out 0s 1 forwards fadeOut;
}

.fullpage-fade-out{
	animation: 0.5s ease-out 0s 1 fullPageFadeOut;
}

.cover-lift {
	animation: 1s ease-out 0s 1 forwards coverLift;
}

.cover-drop {
	animation: 0.5s ease-out 0s 1 forwards coverDrop;
	background-color: $grey;
}

.expanding-box {
	animation: 0.5s ease-out 0s 1 forwards expandingBoxTransition;
}
.fade-image-box {
	animation: 0.2s ease-out 0s 1 forwards fadeImageBox;
}

.wipe{
	animation: 1s linear 0s 1 forwards wipe;
}

.reverse-wipe{
	animation: 1s linear 0s 1 reverse wipe;
}
