// Depreciated

@media only screen and (min-width: 600px){
  p,ul,ol,span,blockquote,figcaption{
  	line-height: 1.6666;
  	font-size: 1.125rem;
  }
  p{
  	margin-bottom: 1.87493rem;
  }
  .display-text{
  	line-height: 2;
    font-size: 1.4rem;
  }
  ol>li{
  	margin-left: 2.5rem;
  	padding-left: 0.5rem;
  }
  .section-1{
  	padding-top: 5.5rem;
  	padding-bottom: 5.5rem;
  }
}
