@import "variables";
/*footer*/
.footer{
	text-align: center;
	margin-bottom: 6rem;

	ul li {
	flex: auto;
	@media only screen and (min-width:600px) {
		flex: none;
	}
}
}

.footer-content{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;
	padding-right: 1.5rem;
	width: 100%;
	list-style: none;
	font-weight: 500;

	@media only screen and (min-width:600px) {
		padding-top: 2.625rem;
		padding-bottom: 2.625rem;
		justify-content: center;
	}
}
.footer-link{
	padding: .5rem 1rem .5rem 0;
}

.btn-social-media{
	color: $secondary-color;
	opacity: 0.5;
	transition:opacity 0.3s , color 0.3s;
}

.btn-social-media:hover{
	opacity: 1;
	color: $primary-color;
}

.footer-copyright{
	margin-left: auto;
	font-size: 1.2rem;
	opacity:0.5;
	padding: 1.5rem 0.75rem 0.75rem;
}