.gif-grid{
    display: flex;
    flex-wrap: wrap;

}

.gif-grid-item{
    display: inline-block;
    margin: 0 1em;
    flex-grow: 1;
    width: calc(50% - 2em);
    @media screen and (max-width: 600px){
        width: 100%;
    }
}