@import "variables";
@media only screen and (min-width: 600px){
  .landing-work {
    padding-top: 20rem;
    padding-bottom: 12rem;
  }
  .landing-work_item{
    margin-bottom: 3rem;
  }
  .landing-work_item:nth-child(2n) {
    margin-top: 12rem;
  }
  .landing-work_content{
  	margin-bottom: 2rem;
  }
  // Default if something goes wrong
  .landing-work_preview-img {
    max-width: 26rem;
  }
  .portrait{
    max-width: 12.8rem;
  }
  .landscape{
    max-width: 26rem;
  }
}
