$primary-color: #FF5851;
$secondary-color: #23305E;
$third-color: #1C1B20;
$highlights: #F3C130;
$off-black:#595959;
$grey: #fafafa; // was #ececec
$light-grey: #999999;
$pink: #e7395c;
$orange: #E15E30;
$portfolio-color: $primary-color;
$twitch-color: #6441A4;
$yvr-color: #0095da;
$stc-color: #003399;
$best-color: #228F7A;
$bikelocker-color: #009887;
$speak-color: #D60080;
$bfbc-color: #816D9F; //66B178, 3B5962, D2DCE1, E2CFBF
$visier-color: #a1f7f7; //afd135, 59b046, afd135
$off-white: #fafafa;
$font: 'Lato',Arial,sans-serif;

// colour palette 1
// FF5851, F3C130, 414A6B, 1C1B20, B49A85
// colour palette 2
// F76C6C, F99797, 23305E, A8D0E6, 39424E

// $primary-color: #FF5A36;
// $secondary-color: #0891e1;
// $third-color: #784939;
// $highlights: #E15E30;
// $off-black:#595959;