@import "variables";
@media only screen and (min-width: 600px){
  .hero-1{
    padding-top: 8rem;
  }
  .work__subtitle{
    line-height: 1.3125;
    font-size: 2rem;
  }

  .work__header{
    padding-top: 3.5rem;
  }
  .work__info {
    margin-bottom: 1.8rem;
  }
  .display-lg{
    display:block;
  }
  .display-mb{
    display:none;
  }
}
